html,
body {
  min-height: 100vh;
  display: flex;
  flex: 1;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex: 1;
  background-color: #121212;
}

code {
  font-family: 'Source Sans Pro', sans-serif;
}
